.aboutMe {
  height: 100vh;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.aboutMe .smallAbout {
  font-size: 2rem;
  margin: 0;
  margin-left: 5vw;
  color: #35e05b;
  -webkit-text-stroke: 1px #000;
}
.aboutMe .about {
  width: 95%;
  height: 90vh;
  background-color: #000;
  margin: 0 auto;
  padding-left: 7vw;
  border-radius: 50px 50px 0 0;
  display: flex;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  position: relative;
}
.aboutMe .about .bigAbout {
  font-size: 4.5rem;
  -webkit-text-stroke: 2px #f1ffca;
}
.aboutMe .about .bigAbout strong {
  color: #35e05b;
}

.aboutMe .contact {
  position: absolute;
  bottom: 3rem;
  right: 8vw;
  display: flex;
  align-items: center;
}

.aboutMe .contact h3 {
  font-size: 1.3rem;
  margin-right: 2.5rem;
  color: #ddd;
  margin-top: 55px;
}

.about .contact a {
  text-decoration: none;
}
.aboutMe .contact a p {
  font-size: 1rem;
  color: #fff;
  margin: 1.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe .contact a p img {
  width: 45px;
}
