.home {
  height: 100vh;
  color: #fff;
  border-bottom: 1px solid #000;
}
.home .homeModule {
  width: 95%;
  height: 90vh;
  background-color: #000;
  margin: 0 auto;
  padding-left: 7vw;
  border-radius: 0 0 50px 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.home .homeModule .port {
  margin-right: 3vw;
}
.home .homeModule .port .front {
  margin: 0;
  font-size: 4.5rem;
  -webkit-text-stroke: 3px #f1ffca;
}
.home .homeModule .port .name {
  margin: 0;
  font-size: 4rem;
  -webkit-text-stroke: 2px #f1ffca;
}
.home .homeModule .port .name .point {
  color: #35e05b;
}
.home .homeModule p {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 3vw 0;
}
